:root {
    --federal-blue: rgb(39, 41, 195);
    --honolulu-blue: #a8e6cfe0;
    --pacific-cyan: #a8e6cf;
    --non-photo-blue:  #ffb3b3;
    --light-cyan: #fff7b348;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--light-cyan);
}

.movie-search {
  font-size: 1.5rem;
  height: 50px;
  min-width: 300px;
  margin: 10px auto;
  text-align: center;
    color: var(--federal-blue); 
}

.container {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--non-photo-blue);
    padding: 10px;
}

.box {
    background-color:var(--non-photo-blue);
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    cursor: pointer;
    color: rgb(71, 86, 244);
}

.box .movie-img {
    position: relative;
}

.box .movie-img img {
    width: 100%;
    border-radius: 10px;
}

.movie-details {
    background-color: var(--honolulu-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 !important;
    opacity: 0;
    left: 0;
    bottom: -100px;
    position: absolute;
    border-radius: 5px;
    transition: all 0.4s linear;
    max-height: 200px;
    overflow-y: auto; 
    flex-shrink:0;
}
.overview{
    padding: 1rem 5px ;
}

.readmore-button {
    font-size: 1.2rem;
    text-align: center;
    padding: 0.2em 0.5em;
    border-radius: 30px;
    background-color: var(--federal-blue)
}
.readmore-button a{
    color: white;
}

.rating::before {
    content: "rating ";
}

.rating {
    background-color: rgba(0, 0, 0, 0.71);
    font-size: 1rem;
    padding: 5px;
    border-radius: 3px;
    float: right;
    color: yellow;
}

.box:hover {
    filter: blur(50%);
}

.box:hover .movie-details {
    opacity: 1;
    bottom: 27px;

}
