* {
  font-family: monospace;
  margin: 0px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
.content{
  margin: 10px auto;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgb(74, 171, 235);
  padding:20px;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 175px;
}
.content:hover{
  /* width: 360px;
  height: 175px; */
  box-shadow: 3px 3px 3px 3px rgb(138, 147, 156);
}

.timer {
  text-shadow: 2px 2px #f8a5c2;
  margin: 15px;
  font-size: 50px;
}
button {
   color: white; 
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 8px;
  
}
button:hover {
 outline-color: black;
 color: black;
 font-size: 25px;
   cursor: pointer;
   
}
.startButton {
  background-color: green;
}
.stopButton {
  background-color: red;
}
.resetButton {
  background-color: grey;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* .fun{
 margin:50px 50px;
 position: absolute;
background-color: aquamarine;
}
.fun:hover{
  left: 70%;
  cursor:not-allowed
} */
